<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">

    <!-- MetaTag -->
    <meta name="title" content="XBLOCKSYSTEMS 채용"> <!-- 홈페이지 내용의 제목 -->
    <meta name="keyword" content="XBLOCKSYSTEMS,엑스블록시스템즈,블록체인,암호화폐거래소"> <!-- 검색 엔진엔 키워드 제공 -->
    <meta name="description" content="블록체인 및 FIDO플랫폼 고도화 및 솔루션 서비스 XBLOCKSYSTEMS"> <!-- 검색 엔진의 소개글,페이지 내용 요약 -->
    <meta name="author" content="XBLOCKSYSTEMS"> <!-- 제작자명 -->
    <meta name="copyright" content="XBLOCKSYSTEMS"> <!-- 저작권표시 -->

    <!-- Open Graph MetaTag FOR FACEBOOK-->
    <meta property="og:url" content="http://www.certon.co.kr/recruit/recruit.html" />
    <meta property="og:title" content="CERTON RECRUIT" />
    <meta property="og:description" content="블록체인 및 FIDO플랫폼 고도화 및 솔루션 서비스 XBLOCKSYSTEMS" />
    <meta property="og:image" content="http://www.certon.co.kr/img/certon_og.png" />

    <title>XBLOCKSYSTEMS 채용</title>

    <!-- FAVICON -->
    <!-- Chrome, Safari, IE -->
    <link rel="shortcut icon" href="static/img/certfavi.png">

    <!--each page css -->
    <!--index page css: index - 메인배너효과 + -->
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/recruit_template.css">

    <!--JQUERY-->
    <script type="text/javascript" src="static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="static/js/parallax.min.js"></script>

</head>
<body>

<div id="index" class="container">
    <header >
        <div class="inner">
            <div class="logo">
                <a href="#top_banner"><img src="static/img/xbs_08.png" alt="logo"></a>
            </div>

            <ul class="navigation">
                <li><a href="#how_we_work">HOW WE WORK</a></li>
                <li><a href="#benefits">BENEFITS</a></li>
                <li><a href="#job_opening">JOB OPENING</a></li>
                <li><a href="#process">PROCESS</a></li>
            </ul>
        </div>

        <div class="hamberger">
            <button class="mobile-menu-btn">
                <span></span>
            </button>
        </div>

    </header>
    <section class="banner" id="top_banner">
        <div class="heading_wrap">
            <h1>JOIN OUR TEAM.</h1>
            <h2>XBLOCKSYSTEMS과 함께 한걸음씩 전진하기</h2>
            <a href="#job_opening">채용부분 바로가기</a>
        </div>
    </section>

    <section id="how_we_work" class="how_we_work">
        <article>
            <div class="rc_title">
                HOW WE WORK
            </div>
            <div class="slogan_box slogan_box01">
                <h2>
                    더 <br>
                    넓게 보고
                </h2>
                <p>
                    “강제 해외진출 남의 일이 아니에요”<br>
                    항상 글로벌 기준으로 프로젝트 목표를 세우고 <br>
                    시대의 흐름과 새 역할에 빠르게 적응합니다 <br>
                    자유로운 창의성을 바탕으로 한계를 뛰어넘어 <br>
                    스스로 기회를 만들어 나갑니다
                </p>
            </div>
            <div class="slogan_box slogan_box02">
                <h2>
                    함께 <br>
                    성장하고
                </h2>
                <p>
                    “혼자서 할 수 있는 일은 생각보다 많지 않아요”<br>
                    한번 더 타인을 배려하는 언행과 책임감,<br>
                    긍정적이고 분명한 의사전달로 동료와<br>
                    협업합니다. 유연한 자기주장과 자기통제력<br>
                    으로 함께 잘먹고 잘사는 문화를 만듭니다
                </p>
            </div>
            <div class="slogan_box slogan_box03">
                <h2>
                    더 <br>
                    고민하고
                </h2>
                <p>
                    “집요한 WHY가 모여서 탄생한 회사에요”<br>
                    개개인의 업무영역에서 WHY의 이유와 의미가<br>
                    납득될 때 비로소 200%의 역량으로 나타납니다<br>
                    진정으로 동기부여를 할 수 있는 깊은 고민을<br>
                    하고 열렬히 토론하고 능동적으로 행동합니다
                </p>
            </div>

        </article>
    </section>

    <section id="benefits" class="benefits">
        <article class="swiper-container swiper1">
            <div class="rc_title">
                BENEFITS
            </div>
            <div class="slide_wrap swiper-wrapper">
                <div class="benefit_wrap swiper-slide">
                    <div class='head'>HEALTH</div>
                    <ul class="benefit_list">
                        <li>
                            <div class="label">
                                종합 건강검진
                            </div>
                            <div class="desc">
                                임직원들의 건강관리를 위해 종합 건강검진 매년 지원
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                체력 단련비 지원
                            </div>
                            <div class="desc">
                                장시간 앉은자세로 업무하는 임직원을 위한 체력 단련비
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="benefit_wrap swiper-slide">
                    <div class='head'>FINANCIAL BACKING</div>
                    <ul class="benefit_list">
                        <li>
                            <div class="label">
                                명절 귀향비 지원
                            </div>
                            <div class="desc">
                                즐거운 명절, 모든 임직원에게 명절 귀향비 지원
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                경조사비 지원
                            </div>
                            <div class="desc">
                                생일, 결혼, 출산, 결혼기념일 등 다양한 경조사비 지원
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="benefit_wrap swiper-slide">
                    <div class='head'>SUPPORT</div>
                    <ul class="benefit_list">
                        <li>
                            <div class="label">
                                조식, 중식, 석식 무료 제공
                            </div>
                            <div class="desc">
                                각자 원하는 메뉴를 제한없이 아침/점심/저녁으로 제공
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                간식 및 음료 무한 제공
                            </div>
                            <div class="desc">
                                각종 음료 및 주전부리 무한 제공
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="benefit_wrap swiper-slide">
                    <div class='head'>WORK & LIFE BALANCE</div>
                    <ul class="benefit_list">
                        <li>
                            <div class="label">
                                야근 강요 없음
                            </div>
                            <div class="desc">
                                임직원들의 저녁이 있는 삶을 위한 과도한 업무 강요 지양
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                도서 구매 및 자기 개발비 지원
                            </div>
                            <div class="desc">
                                임직원의 발전과 도약을 응원하는 개발비 지원 <br> <br>
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                안식 휴가 및 휴가비 제공
                            </div>
                            <div class="desc">
                                리프레시를 위해 2년 근무시 10일의 휴가와, 휴가비를 지원
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="swiper-scrollbar"></div>
        </article>
    </section>

    <section  id="job_opening" class="job_opening">
        <article>
            <div class="rc_title">
                JOB OPENING
            </div>

            <div class="job_class">
                <h3>전략기획본부</h3>
                <ul>
                    <li>
                        <a href="https://script.google.com/macros/s/AKfycbzbop5wRWE3etuD2TULVT_l3R0sJjKrRiTZd6sp7jsVFXkjoJw/exec">
                            <span class="label">전략 기획</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="job_class">
                <h3>기술연구소</h3>
                <ul>
                    <li>
                        <a href="https://script.google.com/macros/s/AKfycbzhRCFaGz-nhArsEpnfuxEJOkqSP1o5pM0mgYUu/exec">
                            <span class="label">X-Chain 개발</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="job_class">
                <h3>플랫폼사업본부</h3>
                <ul>
                    <li>
                        <a href="https://script.google.com/macros/s/AKfycbxKQ8ZMHaHaBV0yX4M6AemVmwCSX6bYowHMKo_-b_bzSiBdZpg/exec">
                            <span class="label">솔루션 개발</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://script.google.com/macros/s/AKfycbxJNpJuG5cVx3b-qrk2IsvQx8ZHnnH6HMvAZxQqTlbe0kNuoHuw/exec">
                            <span class="label">마케팅 기획</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://script.google.com/macros/s/AKfycbw5CjD_S5yZPX0XOsvo12Rywhgtwj6tslDSpfYbqTUZdo9csd5c/exec">
                            <span class="label">전략사업 | 사업 개발</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://script.google.com/macros/s/AKfycbxvX8p_LaGkQ3efgNv_uMQPUDDXrX6tL0-52Ja9/exec">
                            <span class="label">전략사업 | ICO 컨설팅</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://script.google.com/macros/s/AKfycbyN2t8ZmZv66IrS17FNtdqif6oBLa2BxHEhhLsfQ7D75b-MtHs/exec">
                            <span class="label">디자인</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="job_class">
                <h3>해외사업본부</h3>
                <ul>
                    <li>
                        <a href="https://script.google.com/a/macros/aston.company/s/AKfycbwjb5jvp2bqsygVpbPc_TgswBgeJxbPbbM29Mr0Ig/exec">
                            <span class="label">기획</span>
                            <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="job_class">
                <h3>핀테크사업본부</h3>
                <p>현재 진행중인 채용이 없습니다</p>
            </div>



            <!--<div class="job_class">
                <h3>SW 개발 부문</h3>
                <ul>
                    <li id="sw_block_chain">
                        <a href="https://script.google.com/macros/s/AKfycbyp6Q5IrAGL0opTppIw0cKLYgjxknf4KaeFaCCK6tLir58P3Qwr/exec">
                        <span class="label">BlockChain 개발</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="sw_back_end">
                        <a href="https://script.google.com/macros/s/AKfycbyojDHDZljWW8avpSIvND8tyu3Br7pIMh3xNdb6qBqURIw6oUiN/exec">
                        <span class="label">Back-end 개발</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="sw_front_end">
                        <a href="https://script.google.com/macros/s/AKfycbyy4LSQcU9v&#45;&#45;f9WD9jd105eIFlyYNuRU9LXz0ya4y7mq-Jy2cP/exec">
                        <span class="label">Front-end 개발</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="sw_app">
                        <a href="https://script.google.com/macros/s/AKfycbylmUQsvBsQrY9TMI0Je-pLUMA3y_ws_bX1y6Qjor5Iq1vd-DU/exec">
                        <span class="label">App 개발</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="sw_wallet_server">
                        <a href="https://script.google.com/macros/s/AKfycbwp_qzgDLhDOSEcuH7-EFcCPsg2CFKVM3bU1Ff2sJulIqk51_R8/exec">
                        <span class="label">암호화폐 Wallet Server 개발</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="sw_se">
                        <a href="https://script.google.com/macros/s/AKfycbyT_pJVf5-aJsaEteZyF921WKslMusaB9U2l4TV2EGdLq2ODPU/exec">
                        <span class="label">SE</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="sw_dba">
                        <a href="https://script.google.com/macros/s/AKfycbxufB-s35IV8-kgu4AXeOTHFmXtIKjaRFbd76v9EGeL69BJ1qE/exec">
                        <span class="label">DBA</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="job_class">
                <h3>기획 부문</h3>
                <ul>
                    <li id="p_marketing">
                        <a href="https://script.google.com/macros/s/AKfycbzhwwJIBPzSplT0DNVdbzB3ZYPXe_FOMZjkCdR6CWKVy5n0ACYM/exec">
                        <span class="label">마케팅 기획</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="p_service">
                        <a href="https://script.google.com/macros/s/AKfycbxg_A-aUr3M3skSrV5GcipHAimsUOaTvBOBuvqwFvq4gteOkds/exec">
                        <span class="label">서비스 기획</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="p_business">
                        <a href="https://script.google.com/macros/s/AKfycbzDQtYm2w1k4VGitJfCfrkIpgAEX3oE5Xi_MWSqJseUBeFxCWI/exec">
                        <span class="label">경영 / 전략 기획</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="p_strategy">
                        <a href="https://script.google.com/macros/s/AKfycbzmtVKtaYuLPFM7DvgUd7gttNO2RwMFvHdLCk6mWbSQ9L3C-3c/exec">
                        <span class="label">사업 기획 / 영업</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="p_analysis">
                        <a href="https://script.google.com/macros/s/AKfycbwICYf-SS1YO7TMRZZzBkmdZhOfBfJaqLHV9XvPnhpNHlegVWc/exec">
                        <span class="label">암호화폐 분석 / 평가</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="job_class">
                <h3>디자인 부문</h3>
                <ul>
                    <li id="d_designer">
                        <a href="https://script.google.com/macros/s/AKfycbxAhV4Sf7nQUJz5l4IRjpdeXpLa8F1ZZd9rsTSsc9Ool7esQTjm/exec">
                        <span class="label">UI 디자이너</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="d_pbls">
                        <a href="https://script.google.com/macros/s/AKfycbxvvm70b8wjxjZNttX_67oMrnm83fWZxqt0DJpDwFVhXQjcQiIc/exec">
                        <span class="label">퍼블리셔</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>-->

            <!--<div class="job_class">
                <h3>서비스 부문</h3>
                <ul>
                    <li id="s_cs">
                        <a href="https://script.google.com/macros/s/AKfycbyi8w64KNBj2pxhbi0aNNicfIl1qiXwOP2wzfwNh1-PeIl-9023/exec">
                        <span class="label">CS</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="s_qa">
                        <a href="https://script.google.com/macros/s/AKfycbzB7HKk5RP75RQXbCPxIeoM0uxm6zhxz2uihbRQbBmlhqvItTo/exec">
                        <span class="label">QA</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                    <li id="s_cal">
                        <a href="https://script.google.com/macros/s/AKfycbzoqzm1asX6q3EHxKjJoLqQtI-cIYwEdw3aOZvZw3b4CxXv88cq/exec">
                        <span class="label">암호화폐 거래소 정산업무</span>
                        <span class="read">Read</span>
                        </a>
                    </li>
                </ul>
            </div>-->
        </article>
    </section>

    <section id="process" class="process">
        <article>
            <div class="rc_title">
                PROCESS
            </div>
            <div class="img_wrap">

            </div>
        </article>
    </section>
</div>
<!--//20180130 google apps script 개발에 따라 화면 전환 주석-->
<!--<div id="template" class="container" style="display: none;">
	<section class="head_bar">
		<article>
			<a href="#" id="back_btn">
				&lt;!&ndash;<img src="" alt="">&ndash;&gt;
				<span>뒤로가기</span>
			</a>
		</article>
	</section>

	<section class="section_recruit" id="sw_block_chain_t">
		<article>
			<h1>SW 개발 부문</h1>

			<div class="class_wrap">
				<h2>BLOCK CHAIN 개발</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> Block & Transaction 수준의 Blockchain 이해</li>
					<li><span class="middot">&middot;</span> 네트워크/시스템 보안 개발 경험</li>
					<li><span class="middot">&middot;</span> 시스템 프로그래밍</li>
                    <li><span class="middot">&middot;</span> 보안 프로그래밍</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> Blockchain 분석 경험</li>
					<li><span class="middot">&middot;</span> Blockchain 응용 서비스 개발 경험</li>
					<li><span class="middot">&middot;</span> Blockchain Community 활동 경험</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="sw_back_end_t">
		<article>
			<h1>SW 개발 부문</h1>

			<div class="class_wrap">
				<h2>Back-end 개발</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> Java, Spring, JPA 개발 경험</li>
					<li><span class="middot">&middot;</span> Redis 또는 Memcached 등의 메모리 캐시 사용경험</li>
					<li><span class="middot">&middot;</span> Database 모델링 및 실행계획 확인</li>
					<li><span class="middot">&middot;</span> shell script 작성</li>
					<li><span class="middot">&middot;</span> 3년 이상의 서비스 개발 경험</li>
					<li><span class="middot">&middot;</span> Java(Spring Framework), JPA, MariaDB, redis, IntelliJ</li>
					<li><span class="middot">&middot;</span> javascript, websocket, mqtt</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 블록체인에 대한 이해와 활용 경험이 있으신분</li>
					<li><span class="middot">&middot;</span> ELK, MongoDB, Spark 등의 NoSQL 엔진에 대한 사용경험</li>
					<li><span class="middot">&middot;</span> Git, Docker, Jenkins 사용경험</li>
					<li><span class="middot">&middot;</span> WebSocket을 통한 데이터 통신 경험자</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="sw_front_end_t">
		<article>
			<h1>SW 개발 부문</h1>

			<div class="class_wrap">
				<h2>Front-end 개발</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> HTML5, CSS를 통한 화면 개발 숙련자</li>
					<li><span class="middot">&middot;</span> 웹 표준과 브라우저 호환성에 대한 이해와 실무 경험</li>
					<li><span class="middot">&middot;</span> Restful API에 대한 이해와 실무 경험</li>
					<li><span class="middot">&middot;</span> 스크립트 라이브러리에 대한 이해와 활용 경험</li>
					<li><span class="middot">&middot;</span> Less, Sass, ReactJS, AngularJS, Bootstrap 경험자</li>
					<li><span class="middot">&middot;</span> Java(Spring Framework), PHP, javascript, MariaDB, redis </li>
					<li><span class="middot">&middot;</span> IntelliJ, git</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 반응형웹 개발 경험자</li>
					<li><span class="middot">&middot;</span> 속도 향상을 위한 고민과 지속적으로 서비스에 적용해본 자</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="sw_app_t">
		<article>
			<h1>SW 개발 부문</h1>

			<div class="class_wrap">
				<h2>App 개발</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> Android 앱 개발</li>
					<li><span class="middot">&middot;</span> IOS 앱 개발</li>
					<li><span class="middot">&middot;</span> Java</li>
                    <li><span class="middot">&middot;</span> 네트워크/앱 보안에 대한 이해가 높으신 분</li>
                    <li><span class="middot">&middot;</span> 상용 서비스 개발 경험이 있으신 분</li>
				</ul>
			</div>

		</article>
	</section>

	<section class="section_recruit" id="sw_wallet_server_t">
		<article>
			<h1>SW 개발 부문</h1>

			<div class="class_wrap">
				<h2>암호화폐 Wallet Server 개발</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> PHP, NodeJS(javascript), Java(Spring Framework)</li>
					<li><span class="middot">&middot;</span> Blockchain 개념 및 Bitcoin Core 커뮤니티 경험자</li>
					<li><span class="middot">&middot;</span> MariaDB, IntelliJ, git</li>
				</ul>
			</div>

			&lt;!&ndash;<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> </li>
					<li><span class="middot">&middot;</span> </li>
				</ul>
			</div>&ndash;&gt;
		</article>
	</section>

	<section class="section_recruit" id="sw_se_t">
		<article>
			<h1>SW 개발 부문</h1>

			<div class="class_wrap">
				<h2>SYSTEM ENGINEERING (SE)</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li> <span class="strong"># 네트워크 운영/관리</span></li>
					<li><span class="middot">&middot;</span> VPN, Firewall, IPS 등 기본 지식 및 운영</li>
					<li><span class="middot">&middot;</span> Switch, Network 운영/설계<br></li>

					<li> <span class="strong"># 서버 운영</span></li>
					<li><span class="middot">&middot;</span> Linux / Unix 시스템 OS 및 HW 운영</li>
					<li><span class="middot">&middot;</span> 백업시스템 운영</li>
					<li><span class="middot">&middot;</span> 전산실 운영<br></li>

					<li> <span class="strong"># 보안솔루션 운영</span></li>
					<li><span class="middot">&middot;</span> 시스템 이벤트 분석 및 로그분석 관리</li>
					<li><span class="middot">&middot;</span> 시스템 장애 처리</li>

				</ul>
			</div>

			&lt;!&ndash;<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> </li>
					<li><span class="middot">&middot;</span> </li>
				</ul>
			</div>&ndash;&gt;
		</article>
	</section>

	<section class="section_recruit" id="sw_dba_t">
		<article>
			<h1>SW 개발 부문</h1>

			<div class="class_wrap">
				<h2>DBA</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> MariaDB 혹은 MySQL 설치 및 환경설정, Galera Cluster 경험자</li>
					<li><span class="middot">&middot;</span> DB Object(Table, Index, View, Procedure, Function) 생성, 관리, 삭제 유지보수</li>
					<li><span class="middot">&middot;</span> SQL 및 Index 튜닝</li>
					<li><span class="middot">&middot;</span> DBMS 모니터링 및 장애 대처.</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">필요 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 경력 5년이상</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> Galera Cluster 운영 및 구성 경험.</li>
					<li><span class="middot">&middot;</span> MHA 구성 경험</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="p_marketing_t">
		<article>
			<h1>기획 부문</h1>

			<div class="class_wrap">
				<h2>마케팅 기획</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 경력 3년 이상의 경력자</li>
					<li><span class="middot">&middot;</span> 연령제한 25세~35세</li>
					<li><span class="middot">&middot;</span> 온라인 마케팅에 능통한자</li>
					<li><span class="middot">&middot;</span> Search AD, Display AD 등 Performance Marketing</li>
					<li><span class="middot">&middot;</span> Google Analytics 등 분석 툴 사용 가능 및 데이터 분석 가능한자</li>
					<li><span class="middot">&middot;</span> 기업홍보PR 및 제휴업무 경험자</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 영어가능자</li>
					<li><span class="middot">&middot;</span> 핀테크사업 경험자</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="p_service_t">
		<article>
			<h1>기획 부문</h1>

			<div class="class_wrap">
				<h2>서비스 기획</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 대학 4년제 이상</li>
					<li><span class="middot">&middot;</span> 경력 3년이상</li>
					<li><span class="middot">&middot;</span> 진취적이고 적극적인 성품을 갖춘 자</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 가상화폐 서비스 기획 경험자 우대</li>
					<li><span class="middot">&middot;</span> 동종 / 유관업무 경험자 우대</li>
					<li><span class="middot">&middot;</span> 금융, 증권, 핀테크 산업 이해/ 관심자 우대 인사</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="p_business_t">
		<article>
			<h1>기획 부문</h1>

			<div class="class_wrap">
				<h2>사업 기획</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 회사소개서, IR 등 주요 전략자료 제작 </li>
					<li><span class="middot">&middot;</span> 사업 분석 및 제안서 작성</li>
					<li><span class="middot">&middot;</span> 주요 경쟁사 분석 및 신규사업 발굴</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">필수 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 4년제 대졸 이상</li>
					<li><span class="middot">&middot;</span> 해당 실무경력 5년 이상</li>
					<li><span class="middot">&middot;</span> 외국어 회화 필수 (영어 또는 중국어)</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 해당 분야 석사 출신 우대</li>
					<li><span class="middot">&middot;</span> 블록체인, 보안 인증 및 기술에 대한 높은 이해도</li>
					<li><span class="middot">&middot;</span> 블록체인, 암호화폐 시장과 글로벌 ICO에 대한 지식과 열정</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="p_strategy_t">
		<article>
			<h1>기획 부문</h1>

			<div class="class_wrap">
				<h2>전략 기획 / 영업</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 회사소개서, IR 등 주요 전략자료 제작 </li>
					<li><span class="middot">&middot;</span> 사업 분석 및 제안서 작성</li>
					<li><span class="middot">&middot;</span> 주요 경쟁사 분석 및 신규사업 발굴</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">필수 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 4년제 대졸 이상</li>
					<li><span class="middot">&middot;</span> 해당 실무경력 5년 이상</li>
					<li><span class="middot">&middot;</span> 외국어 회화 필수 (영어 또는 중국어)</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 해당 분야 석사 출신 우대</li>
					<li><span class="middot">&middot;</span> 블록체인, 보안 인증 및 기술에 대한 높은 이해도</li>
					<li><span class="middot">&middot;</span> 블록체인, 암호화폐 시장과 글로벌 ICO에 대한 지식과 열정</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="p_analysis_t">
		<article>
			<h1>기획 부문</h1>

			<div class="class_wrap">
				<h2>암호화폐 분석 / 평가</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 암호화폐 및 블록체인에 대한 기술 및 시장 현황에 대한 이해도가 높은 자</li>
					<li><span class="middot">&middot;</span> 마이닝 기술 및 시장 현황에 대한 이해도가 높은 자</li>
					<li><span class="middot">&middot;</span> 영어 (독해 가능 및 영어문서 작성)가능자</li>
				</ul>
			</div>

			&lt;!&ndash;<div class="list_wrap">
                <h3 class="list_title">우대 사항</h3>
                <ul class="list_item">
                    <li><span class="middot">&middot;</span> </li>
                    <li><span class="middot">&middot;</span> </li>
                </ul>
            </div>&ndash;&gt;
		</article>
	</section>

	<section class="section_recruit" id="d_designer_t">
		<article>
			<h1>디자인 부문</h1>

			<div class="class_wrap">
				<h2>UI 디자인</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> Photoshop / Illustrator 숙련자</li>
					<li><span class="middot">&middot;</span> Web / APP UI 디자인 실무경험자 (신입의 경우 제외) </li>
					<li><span class="middot">&middot;</span> Logo 디자인 가능자</li>
				</ul>
			</div>

			<div class="list_wrap">
                <h3 class="list_title">우대 사항</h3>
                <ul class="list_item">
                    <li><span class="middot">&middot;</span> 사용자 편의성을 고려한 디자인 가능</li>
                    <li><span class="middot">&middot;</span> Illustrator 이용한 출력물 디자인 경험  </li>
					<li><span class="middot">&middot;</span> BRANDING에 대한 이해와 실무 경험</li>
					<li><span class="middot">&middot;</span> 적극적이고 명확한 커뮤니케이션 능력</li>
					<li>
						<span class="middot">&middot;</span>
						포트폴리오는 URL 형식으로 이력서에 첨부 or  pdf 형식으로 압축하여 첨부 <br>
						&nbsp; &nbsp;(프로젝트의 경우 참여도 (%) 기재 필수)
					</li>
                </ul>
            </div>
		</article>
	</section>

	<section class="section_recruit" id="d_pbls_t">
		<article>
			<h1>디자인 부문</h1>

			<div class="class_wrap">
				<h2>퍼블리셔</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">자격 요건</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> HTML5 / CSS3 / Bootstrap 이해와 실무경험</li>
					<li><span class="middot">&middot;</span> Javascript(JQuery) </li>
					<li><span class="middot">&middot;</span> Media Queries</li>
					<li><span class="middot">&middot;</span> Photoshop 숙련자</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대 사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 반응형웹 코딩 경험자</li>
					<li><span class="middot">&middot;</span> UI 디자인 경험 </li>
					<li><span class="middot">&middot;</span> Javascript(JQuery) </li>
					<li><span class="middot">&middot;</span> git 활용 경험 </li>
					<li><span class="middot">&middot;</span> 적극적이고 명확한 커뮤니케이션 능력</li>
					<li>
						<span class="middot">&middot;</span>
						포트폴리오는 URL 형식으로 이력서에 첨부 or  pdf 형식으로 압축하여 첨부 <br>
						&nbsp; &nbsp;(프로젝트의 경우 참여도 (%) 기재 필수)
					</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="s_cs_t">
        <article>
            <h1>서비스 부문</h1>

            <div class="class_wrap">
                <h2>CS - 수퍼바이저 및 상담운영 업무</h2>
                <span class="career">경력직</span>
                <span class="full_time">정직원</span>
            </div>

            <div class="list_wrap">
                <h3 class="list_title">주요업무</h3>
                <ul class="list_item">
                    <li><span class="middot">&middot;</span> 단순 CS 업무 처리 및 응대 </li>
                    <li><span class="middot">&middot;</span> 콜센터 Co_Work  및 본사 권한 CS 업무 전반 </li>
                    <li><span class="middot">&middot;</span> 서비스 QA(품질관리) 테스트</li>
                </ul>
            </div>

            <div class="list_wrap">
                <h3 class="list_title">채용 상세</h3>
                <ul class="list_item">
                    <li><span class="middot">&middot;</span> 가상화폐거래소 및 대형쇼핑몰 CS 경력자 우대</li>
                    <li><span class="middot">&middot;</span> 1년 이상의 CS 근무 경험자 우대</li>
					<li><span class="middot">&middot;</span> CS 수퍼바이저 경력자 우선 채용</li>
					<li><span class="middot">&middot;</span> 기본적인 오피스 툴 사용 가능 자</li>
                </ul>
            </div>

		</article>
	</section>

	<section class="section_recruit" id="s_qa_t">
		<article>
			<h1>서비스 부문</h1>

			<div class="class_wrap">
				<h2>QA</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">담당업무</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> operator(서비스 운영)</li>
					<li><span class="middot">&middot;</span> 서비스 QA(품질관리 테스트) </li>
					<li><span class="middot">&middot;</span> 프로세스 개선사항 정리 / 리포트</li>
				</ul>
			</div>

            <div class="list_wrap">
                <h3 class="list_title">우대사항</h3>
                <ul class="list_item">
                    <li><span class="middot">&middot;</span> 6개월 이상의 콜센터 CS 근무 우대</li>
                    <li><span class="middot">&middot;</span> 쇼핑몰 백오피스 운영 경험자 우대</li>
                </ul>
            </div>

			<div class="list_wrap">
				<h3 class="list_title">기타사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 가상화폐 / 블록체인에 관심이 있으신 분</li>
					<li><span class="middot">&middot;</span> 기본적인 오피스 툴 사용 가능한 분</li>
				</ul>
			</div>
		</article>
	</section>

	<section class="section_recruit" id="s_cal_t">
		<article>
			<h1>서비스 부문</h1>

			<div class="class_wrap">
				<h2>암호화폐 거래소 정산</h2>
				<span class="career">경력직</span>
				<span class="full_time">정직원</span>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">담당업무</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 가상화폐 거래소 정산 업무</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">우대사항</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> QA 활용 능력 우수자</li>
					<li><span class="middot">&middot;</span> 유관업무 경험자</li>
					<li><span class="middot">&middot;</span> 이공계 학과 졸업자 및 졸업 예정자</li>
					<li><span class="middot">&middot;</span> 가상화폐 관심있는자</li>
				</ul>
			</div>

		</article>
	</section>

	<section class="info">
		<article>
			<div class="list_wrap">
				<h3 class="list_title">지원 방법</h3>
				<ul class="list_item">
					<li>XBLOCKSYSTEMS 이메일을 통한 입사지원</li>
				</ul>
			</div>
			<a href="javascript:void(0);" class="email">certon_recruit@certon.co.kr</a>
			<div class="list_wrap">
				<h3 class="list_title">제출서류</h3>
				<ul class="list_item">
					<li>자유형식 이력서 + 자기소개서 파일 1개 [10MB 이하] , 포트폴리오(필요시)</li>
				</ul>
			</div>

			<div class="list_wrap">
				<h3 class="list_title">기타</h3>
				<ul class="list_item">
					<li><span class="middot">&middot;</span> 각 전형 결과는 기재하신 이메일로 통지해 드립니다</li>
					<li><span class="middot">&middot;</span> 전 부문 상시채용입니다</li>
					<li><span class="middot">&middot;</span> 면접 일정은 담당자와 개별적으로 협의하여 진행됩니다</li>
					<li><span class="middot">&middot;</span> 문의사항은 XBLOCKSYSTEMS 이메일을 통해 보내 주시면 담당자가 확인 후 답변 드리도록 하겠습니다 </li>
				</ul>
			</div>

		</article>
	</section>

	<section class="resume_form">
		<article>
			<div class="resume_send">
				<div class="input_list">
					<label for="name">이름 <span class="star">*</span> </label>
					<input type="text" id="name">
				</div>
				<div class="input_list">
					<label for="email">이메일 주소 <span class="star">*</span> </label>
					<input type="email" id="email">
				</div>
				<div class="input_list">
					<label for="tel">연락처 <span class="star">*</span> </label>
					<input type="tel" id="tel">
				</div>
				<div class="input_list file">
					&lt;!&ndash;파일첨부 버튼 스타일을 위한 더미 엘리먼트&ndash;&gt;
					<div class="file_btn_dummy">+ 파일 첨부</div>
					&lt;!&ndash;파일 첨부 인풋은 opacity:0 처리되어있습니다&ndash;&gt;
					<input type="file" id="file" multiple>

					<span class="float_item gray">
						* 이력서 + 자소서 파일 1개 [10MB이하]
					</span>
					<span class="float_item blue">
						* 제출 파일은 반드시 PDF로 제출해주세요
					</span>
				</div>
			</div>

			&lt;!&ndash;<ul class="terms_wrap">
				<li>
					<div class="terms_title">
						<div class="title">
							개인정보 수집 및 이용 수칙
						</div>
						<div class="check_box">
							<input type="checkbox" id="check_all">
							<label for="check_all">전체 동의</label>
						</div>
					</div>
					<div class="desc_box">
						<p>
							<span class="tit"></span>
							<span class="desc">
								본 채용홈페이지를 통해 제출하는 지원서는 귀하께서 지원서를 제출하는 회사(이하 채용회사)가 직접 접수하고 관리하며, 향후 지원서 관리책임은
								채용회사에 있습니다. 지원자는 아래 개인정보 제공 등에 관해 동의하지 않을 권리가 있습니다. 다만, 지원서를 통해 제공받은 정보는 채용회사의
								채용 및 선발에 필수적인 항목으로 해당 정보를 제공받지 못할 경우 회사는 공정한 선발전형을 진행할 수 없습니다.
							</span>
						</p>
					</div>
				</li>
				<li>
					<div class="terms_title">
						<div class="title">
							개인정보 수집 및 이용에 관한 동의
						</div>
						<div class="check_box">
							<input type="checkbox" id="check01">
							<label for="check01">[개인정보 수집 및 이용에 관한 동의]를 잘 읽어보았고 내용에 동의합니다</label>
						</div>
					</div>
					<div class="desc_box">
						<p>
							<span class="tit">1. 수집하는 개인정보 항목</span>
							<span class="desc">
								본 채용홈페이지를 통해 제출하는 지원서는 귀하께서 지원서를 제출하는 회사(이하 채용회사)가 직접 접수하고 관리하며, 향후 지원서 관리책임은
								채용회사에 있습니다. 지원자는 아래 개인정보 제공 등에 관해 동의하지 않을 권리가 있습니다. 다만, 지원서를 통해 제공받은 정보는 채용회사의
								채용 및 선발에 필수적인 항목으로 해당 정보를 제공받지 못할 경우 회사는 공정한 선발전형을 진행할 수 없습니다.
							</span>
						</p>
					</div>
				</li>
				<li>
					<div class="terms_title">
						<div class="title">
							민감정보 수집 및 이용에 관한 동의
						</div>
						<div class="check_box">
							<input type="checkbox" id="check02">
							<label for="check02">[개인정보 수집 및 이용에 관한 동의]를 잘 읽어보았고 내용에 동의합니다</label>
						</div>
					</div>
					<div class="desc_box">
						<p>
							<span class="tit">1. 수집하는 개인정보 항목</span>
							<span class="desc">
								본 채용홈페이지를 통해 제출하는 지원서는 귀하께서 지원서를 제출하는 회사(이하 채용회사)가 직접 접수하고 관리하며, 향후 지원서 관리책임은
								채용회사에 있습니다. 지원자는 아래 개인정보 제공 등에 관해 동의하지 않을 권리가 있습니다. 다만, 지원서를 통해 제공받은 정보는 채용회사의
								채용 및 선발에 필수적인 항목으로 해당 정보를 제공받지 못할 경우 회사는 공정한 선발전형을 진행할 수 없습니다.
							</span>
						</p>
					</div>
				</li>
			</ul>&ndash;&gt;

			<div class="submit_btn">
				지원서 제출 완료
			</div>
		</article>
	</section>
</div>-->

<div class="footer">
    <div class="footer_logo">
        <img src="static/img/xbs_08.png" alt="footer_logo">
    </div>
    <div class="adress">
        <span class="strong">Adresss</span> 207, Dosan-daero Gangnam-gu, Seoul, Republic of Korea
        <span class="strong">Phone</span> +82-2-564-9559
        <span class="strong">Email</span> certon_recruit@certon.co.kr
        <br>
        <span class="cop_right">ⓒ XBLOCKSYSTEMS CO,.LTD</span>
    </div>
</div>
<!--<footer id="footer"></footer>-->
</body>
<script type="text/javascript" src="static/js/swiper.min.js"></script>
<script>
    //gnb scroll js
    $(window).scroll(function(){
        if( $(this).scrollTop() > 100 ){
            $('header .inner').addClass('scroll');
        }else{
            $('header .inner').removeClass('scroll');
        }
    });

    if( $(window).scrollTop() > 100 ) {
        $('header .inner').addClass('scroll');
    }


    // gnb 햄버거 js
    $('.mobile-menu-btn').click(function(){
        $(this).toggleClass('active');
        $('header .inner .navigation').slideToggle('down');
    });
    if($(window).width() < 415){
        $(window).scroll(function(){
            $('header .inner .navigation').slideUp();
            $('.mobile-menu-btn').removeClass('active');
        });
    }

    // HOW WE WORK 영역 애니메이션
    if($(window).width() > 1024){
        //모바일에서는 애니메이션 적용 안돼도록
        $('section.how_we_work .slogan_box').addClass('ready');

        $(window).scroll(function(){
            if( $(window).scrollTop() > 50) {
                $('section.how_we_work .slogan_box01').removeClass('ready').css('opacity','1');
            }
            if( $(window).scrollTop() > 250) {
                $('section.how_we_work .slogan_box02').removeClass('ready');
            }
            if( $(window).scrollTop() > 510) {
                $('section.how_we_work .slogan_box03').removeClass('ready');
            }

        });
    }else{
        $('section.how_we_work .slogan_box').removeClass('ready');
        $('section.how_we_work .slogan_box01').css('opacity','1');
    }

    //20180130 google apps script 개발에 따라 화면 전환 주석
    //상세채용 화면변환 js
    /*function openDetail(target){
        $('#index').hide();
        $('#template').show();
        $(window).scrollTop(0);

        //섹션없앰
		$('.section_recruit').hide();

		//id 값 가져와서 문자열 _t 붙임
		var targetId = $(target).attr('id');
        var openTarget = targetId + '_t';

        //id + _t를 가진 타겟을 보여줌
        document.getElementById(openTarget).style.display = 'block';
    }

	$('section.job_opening .job_class ul li').on('click', function(){
        openDetail(this);
	});

    $('#back_btn').on('click', function(){
        $('#template').hide();
        $('#index').show();

        //$(window).scrollTop( $('#job_opening').offset().top );
        setTimeout(function(){
            $(window).scrollTop( $('#job_opening').offset().top );
		});
	});*/

    //모바일 베네핏영역 슬라이드 js
    function resizeSlide(){
        if($(window).width() < 767) {
            var mySwiper = new Swiper('.swiper1', {
                speed: 400,
                spaceBetween: 100,
                loop: false,
                nested: true,
                on: {
                    init: function () {
                        console.log('swiper initialized');
                    }
                },
                // pagination: {
                //     el: '.swiper-pagination1',
                //     type: 'bullets',
                //     clickable: true
                // },
                scrollbar: {
                    el: '.swiper-scrollbar',
                    draggable: true
                },
                resistance: true,
                resistanceRatio: 0
            });
        }
    }
    if($(window).width() < 767){
        document.addEventListener("DOMContentLoaded", function(){
            // Handler when the DOM is fully loaded
            resizeSlide();
        });

        $(window).resize(function(){
            resizeSlide();
        });
    }

</script>
</html>
